$primary: #021523;
$danger: #EF5734;
$grey: #8E8E8E;
$white: #ffffff;
$font: 'Kavivanar', cursive;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.position{
    position: sticky;
    top: 0%;
    z-index: 2;
}


li {
    font-family: $font;
}

nav {
    ul {
    list-style: none;
    }
}

nav {
    ul {
    display: table;
    overflow: hidden;
    width: 100%;
    background: rgb(83, 83, 83);
    position: relative;
    }
}

nav {
    ul{
        li {
        display: table-cell;
        }
    }
}

.icono {
    width: 30px;
}

nav {
    ul { 
        li { 
            a {
                color: white;
                display: block;
                line-height: 20px;
                padding: 20px;
                position: relative;
                text-align: center;
                text-decoration: none;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }
        }
    }
}

nav{ 
    ul{ 
        li{
            a {
                span {
                    background: $primary;
                    display: block;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    position: absolute;
                    top: -55px;
                }
            }
        }
    }
}


nav {
    ul {
        li {
            a {
                span .icon {
                    display: block;
                    line-height: 80px;
                }
            }
        }
    }
}

nav {
    ul {
        li {
            a:hover {
                    span {
                        top: 0;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                    }
                }
            }
        }
    }


nav {
    ul {
        li {
            a {
                .rojo {
                    background: rgb(247, 107, 107);
                }
            }
        }
    }
}

nav {
    ul {
        li {
            a {
                .verde {
                    background: rgb(91, 247, 161);
                }
            }
        }
    }
}

nav {
    ul {
        li {
            a {
                .amarillo {
                    background: rgb(235, 241, 140);
                }
            }
        }
    }
}

nav {
    ul {
        li {
            a {
                .celeste {
                    background: rgb(36, 191, 238);
                }
            }
        }
    }
}

nav {
    ul {
        li {
            a {
                .naranja {
                    background: rgb(247, 159, 27);
                }
            }
        }
    }
}


/*Estilos para que el nav sea MobileFirst*/


ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
.navbar{
    background: $primary;
    .navbar-header{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $grey; 
    }
}

.brand-link{
    color: $white;
    font-size: 2rem;
    .navbar-menu-mobile{
        color: $danger;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.navbar-container{
    position: absolute;
    background: $primary;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease;
    .navbar-link{
        color: $white;
    }
}



#navbar-header:target {
    .navbar-container{
        height: 300px;
    }
}


#navbar-header:target {
    .open{
        display: none;
    }
    .close{
        display: flex;
    }
}


.close{
    display: none;
}


@media (min-width: 1200px){
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    
    .navbar-menu-mobile{
        display: none;
    }
    
    .navbar-container{
        height: auto;
        flex-direction: row;
        position: static;
        width: 60%;
    }
}

@media (max-width: 1200px){
    nav {
        ul {
            li {
                a {
                    .rojo {
                        background: rgba(247, 107, 107, 0.0);
                    }
                }
            }
        }
    }
    
    nav {
        ul {
            li {
                a {
                    .verde {
                        background: rgba(91, 247, 161, 0.0);
                    }
                }
            }
        }
    }
    
    nav {
        ul {
            li {
                a {
                    .amarillo {
                        background: rgba(235, 241, 140, 0.0);
                    }
                }
            }
        }
    }
    
    nav {
        ul {
            li {
                a {
                    .celeste {
                        background: rgba(36, 191, 238, 0.0);
                    }
                }
            }
        }
    }
    
    nav {
        ul {
            li {
                a {
                    .naranja {
                        background: rgba(247, 159, 27, 0.0);
                    }
                }
            }
        }
    }

    .icono {
        width: 0px;
        height: 0px;
    }
    
}